// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// LISTAGEM - BLOG

#content-area .posts_blog,
#slider_blog .posts_blog {
	overflow: hidden;
	.post_item {
		@include prop( 420, 340 );
		@include fundo();
		.post_conteudo {
			position: absolute;
			top: 25px;
			left: 20px;
			right: 20px;
			min-height: 252px;
			background-color: rgba( 255, 255, 255, 0.8 );
			padding: 20px 30px 50px;
			text-align: left;
			font-weight: $xl;
			font-size: 14px;
			line-height: $lh_simples;
			color: $preto;
			a {
				color: $lilas;
				&:hover,
				&:focus {
					color: $turquesa;
				}
			}
			.post_meta {
				margin-bottom: 10px;
				font-size: 16px;
				> a {
					font-family: $dosis;
					font-weight: $rg;
				}
			}
			.post_titulo {
				margin: 0 0 10px;
				font-family: $dosis;
				font-weight: $rg;
				font-size: 22px;
				color: $lilas;
				> a.post_titulo_link {
					color: inherit;
					&:hover,
					&:focus {
						color: $turquesa;
					}
				}
			}
			.post_resumo {
				margin-bottom: $lh_natural;
				font-family: $dosis;
				font-weight: $rg;
			}
			.post_compartilhar {
				position: absolute;
				left: 30px;
				bottom: 20px;
				margin: 0;
				padding: 0;
				list-style-type: none;
				font-size: 0;
				.compartilhar_item {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					font-size: 22px;
					line-height: 1;
					&:not(:first-child) {
						margin-left: 10px;
						padding-left: 11px;
						&::before {
							position: absolute;
							top: 50%;
							left: 0;
							transform: translateY(-50%);
							width: 1px;
							height: 10px;
							background-color: $preto;
							content: '';
						}
					}
					.compartilhar_link {
						display: inline-block;
						color: $preto;
						.compartilhar_rotulo {
							display: none;
						}
						.compartilhar_icone {
							font-size: 22px;
							cursor: pointer;
						}
						&:hover,
						&:focus {
							color: $turquesa;
						}
					}
				} // .compartilhar_item
			} // .post_compartilhar
			.post_mais {
				display: block;
				position: absolute;
				right: 30px;
				bottom: 20px;
				width: 48px;
				height: 48px;
				border: solid $lilas 1px;
				border-radius: 50%;
				line-height: 46px;
				text-align: center;
				font-size: 0;
				> .post_mais_img {
					transition: $rapida;
					display: inline-block;
					width: auto;
				}
				&:hover,
				&:focus {
					border-color: $turquesa;
					> .post_mais_img {
						transform: translateX(3px);
					}
				}
			} // .post_mais
		} // .post_conteudo
	} // .post_item
}



// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// LISTAGEM - EVENTO

#content-area .posts_agenda {
	.post_item {
		position: relative;
		margin-bottom: 30px;
		background-color: $azulEscuro;
		overflow: hidden;
		&.com_img {
			@include fundo();
		}
		&.sem_img {
			background-image: linear-gradient( to bottom, $azulMedio 0%, $azulEscuro 100% );
		}
		.post_conteudo {
			margin: 50px 25px 0 40px;
			min-height: calc( 94px + 52px );
			padding-left: 110px;
			padding-bottom: 52px;
			text-align: left;
			color: white;
		}
			.post_meta {
				position: absolute;
				left: 40px;
				top: 50px;
				text-align: center;
				padding-right: 30px;
				border-right: solid white 1px;
				.mes {
					display: block;
					text-transform: lowercase;
					font-family: $shadows;
					font-weight: $rg;
					font-size: 22px;
					line-height: 1em;
				}
				.dia {
					display: block;
					font-family: $dosis;
					font-weight: $rg;
					font-size: 60px;
					line-height: 0.8em;
				}
				.ano {
					display: block;
					font-family: $shadows;
					font-weight: $rg;
					font-size: 20px;
					line-height: 1em;
				}
			}
			.organizador {
				margin-bottom: 0;
				font-family: $dosis;
				font-weight: $bd;
				font-size: 16px;
			}
			.post_titulo {
				margin: 0 0 5px;
				font-family: $dosis;
				font-weight: $th;
				line-height: $lh_simples;
				font-size: 28px;
				> .post_titulo_link {
					color: white;
					&:hover,
					&:focus {
						color: $secundaria;
					}
				}
			}
			.post_resumo {
				DISPLAY: NONE;
				margin: 0 0 10px;
				font-family: $dosis;
				font-weight: $th;
				font-size: 24px;
				line-height: $lh_natural;
			}
			.post_compartilhar {
				position: absolute;
				left: calc( 110px + 40px );
				bottom: 25px;
				margin: 0;
				padding: 0;
				list-style-type: none;
				font-size: 0;
				.compartilhar_item {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					font-size: 12px;
					line-height: 1;
					&:not(:first-child) {
						margin-left: 5px;
						padding-left: 6px;
						&::before {
							position: absolute;
							top: 50%;
							left: 0;
							transform: translateY(-50%);
							width: 1px;
							height: 8px;
							background-color: white;
							content: '';
						}
					}
					.compartilhar_link {
						display: inline-block;
						color: white;
						.compartilhar_rotulo {
							display: none;
						}
						.compartilhar_icone {
							font-size: 12px;
							cursor: pointer;
						}
						&:hover,
						&:focus {
							color: $amarelo;
						}
					}
				}
			}
			.post_mais {
				position: absolute;
				right: 25px;
				bottom: 25px;
				margin: 0;
				width: auto;
				border-radius: 50px;
				border: solid white 4px;
				background-color: transparent;
				padding: 10px;
				font-family: $dosis;
				font-weight: $th;
				font-size: 10px;
				line-height: $lh_simples;
				color: white;
				> .post_mais_img {
					vertical-align: middle;
					margin-left: 16px;
					max-width: 13px;
					height: auto;
				}
				&:hover,
				&:focus {
					border-color: $secundaria;
					color: $secundaria;
				}
			}
	} // .post_item
} // .posts_agenda



// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// PAGINAÇÃO

#content-area .paginacao {
	margin: 40px 0 0;
	border-top: double #eee 3px;
	padding: 12px 0 0;
	text-align: center;
	font-size: 0;
	ol.paginacao_lista {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		> li.paginacao_item {
			display: inline-block;
			vertical-align: bottom;
			margin: 0 6px 6px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			> a.paginacao_link {
				display: inline-block;
				vertical-align: bottom;
				background-color: $azulMarca2;
				text-align: center;
				line-height: 38px;
				font-weight: $bd;
				color: white;
			}
			&.numero > a.paginacao_link {
				border-radius: 50%;
				width: 38px;
				font-size: 22px;
			}
			&.texto > a.paginacao_link {
				border-radius: 25px;
				padding: 0 20px;
				font-size: 14px;
			}
			&.atual > a.paginacao_link {
				background-color: $terciaria;
				cursor: default;
			}
			&:not(.atual) > a.paginacao_link {
				&:hover,
				&:focus {
					background-color: $terciaria;
					color: white;
				}
			}
		}
	}
}

.sem_posts {
	margin-bottom: 0;
	font-weight: $bk;
}

.sem_paginacao {
	display: none;
}



// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// POST - BLOG

.post.blog {
	.post_data {
		font-size: 14px;
		color: #ddd;
	}
}


