
#masthead {
	position: relative;
	margin: 0;
    padding: 0;
	background-color: transparent;
}

	#sticky_nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 200;
		// padding: 0;
		// line-height: 86px;
		&.flutuante {
			position: fixed;
			background-color: rgba( 0, 0, 0, 0.7 );
			// padding-top: 15px;
			// padding-bottom: 15px;
			#cabecalho_principal {
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
	}
			
			
			
		// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		// CABEÇALHO TOPO

		#cabecalho_topo {
			background-color: #F2F2F2;
			padding: 12px 30px;
			font-size: 10px;
			line-height: $lh_simples;
			color: $preto;
			a {
				color: $amareloMarca;
				&:hover,
				&:focus {
					color: $lilas;
				}
			}
		}
		
			#cabecalho_breadcrumb {
			}
			
				#breadcrumb_nav {
					// Overrides para o BS
					margin: 0;
					padding: 0;
					border-radius: 0;
					border: none;
					background-color: transparent;
					.breadcrumb_list {
						margin: 0;
						padding: 0;
						list-style-type: none;
					}
						.breadcrumb_item {
							display: inline-block;
							vertical-align: baseline;
							margin: 0;
							padding: 0;
							&:not(:last-child):not(.rotulo) {
								margin-right: 12px;
								&::after {
									display: inline-block;
									vertical-align: middle;
									margin-left: 12px;
									@include base64( 'iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHEAYAAAB/9TCTAAAAT0lEQVR42mP4/3ZZJWMWIxOEZmBAp6GMvl4IHR2DQ4GgEIQ+eRJdIZqRMIVPHkNoewc0Bc3NEHrNagjNxgaVqKyC0GvXwiTQrFDXQJeA0QBzQGywS+fqlgAAAABJRU5ErkJggg==', 4, 7 );
									content: '';
								}
							}
							&.rotulo {}
							&.home {}
							&.pagina_posts {}
							&.categoria {}
							&.tag {}
							&.busca {}
							&.autor {}
							&.post {}
							&.pagina {}
							&.erro404 {}
							&.atual {}
						}
							.breadcrumb_titulo {
								display: inline;
								margin: 0;
								font-size: inherit;
								font-weight: inherit;
								line-height: inherit;
								color: inherit;
							}
							.breadcrumb_link {}
				} // #breadcrumb_nav
				
			#cabecalho_linguas {
				text-align: right;
				.linguas_rotulo {
					display: inline-block;
					vertical-align: middle;
					margin: 0 8px 0 0;
					padding: 0;
					font-weight: inherit;
					font-size: inherit;
					line-height: inherit;
					color: inherit;
				}
				.select_wrapper {
					display: inline-block;
					vertical-align: middle;
					margin: 0;
					width: 75px;
					border: none;
					border-radius: 0;
					background-color: transparent;
					text-align: left;
					&::after {
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						background-color: transparent;
						@include base64( 'iVBORw0KGgoAAAANSUhEUgAAAAcAAAAEEAYAAAASVvk+AAAATklEQVR42mP4/3ZZJWMWGxuE7u1F5TMwQGhGJgjd0gyhRcUYUBVUVUHobVshNDsHhJ49G0LPnAkzCE0jugFPn6JrgKnDoRFGe3qha4DRAKjMbLItKRTSAAAAAElFTkSuQmCC', 7, 4 );
						border-radius: 0;
					}
					> select {
						padding: 0;
						font-size: 10px;
						font-weight: $rg;
						line-height: 1;
						text-transform: lowercase;
						color: $amareloMarca;
					}
					&:hover,
					&:focus {
						> select {
							color: $lilas;
						}
					}
				}
				/*
				ul#linguas_lista {
					display: inline;
					margin: 0;
					padding: 0;
					list-style-type: none;
					font-size: 0;
					> li.lang-item {
						display: inline-block;
						margin: 0;
						padding: 0;
						&:not(:last-child) {
							margin-right: 8px;
						}
						> a {
							font-size: 10px;
						}
						&.current-lang {
							padding-right: 10px;
							@include base64('iVBORw0KGgoAAAANSUhEUgAAAAcAAAAEEAYAAAASVvk+AAAATklEQVR42mP4/3ZZJWMWGxuE7u1F5TMwQGhGJgjd0gyhRcUYUBVUVUHobVshNDsHhJ49G0LPnAkzCE0jugFPn6JrgKnDoRFGe3qha4DRAKjMbLItKRTSAAAAAElFTkSuQmCC');
							background-position: right center;
							> a {
								color: $amareloMarca;
							}
						}
					}
				}
				*/
			}
			
			
			
		// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		// CABEÇALHO PRINCIPAL
			
		#cabecalho_principal {
			padding: 35px 45px 0;
		}

			#cabecalho_logo {
				position: relative;
				z-index: 1;
				float: left;
				margin-right: 30px;
				font-size: 0;
				.cabecalho_logo_img {
					vertical-align: top;
				}
			}
		
			#cabecalho_toggle {
				margin: 0 32px 0 0;
				width: 78px;
				height: auto;
				box-shadow: none;
				border-radius: 50%;
				border: none;
				padding: 0;
				line-height: 78px;
				font-size: 14px;
				color: white;
				#cabecalho_toggle_rotulo {
					display: inline-block;
					position: relative;
					padding: 8px 0;
					&::before,
					&::after {
						position: absolute;
						left: 0;
						right: 0;
						height: 4px;
						border-radius: 10px;
						background-color: white;
						content: '';
					}
					&::before {
						top: 0;
					}
					&::after {
						bottom: 0;
					}
				}
				&:hover,
				&:focus,
				&:active,
				&.ativo {
					background-color: $terciaria;
				}
			} // #cabecalho_toggle
	
		#cabecalho_direita {
			position: relative;
			text-align: right;
		}
			
			// ------------------------------------------------------------------------
			// MENU
		
			#menu_principal {
				z-index: 200;
				float: none;
				background: transparent;
				padding: 0 15px;
				.collapse {
					padding-left: 0;
					padding-right: 0;
				}
				ul.menu {
					margin: 0;
					padding: 0;
					float: none;
					width: 100%;
					list-style-type: none;
					font-size: 0;
					> li.menu-item {
						position: relative;
						display: inline-block;
						vertical-align: middle;
						margin: 0 15px;
						> a {
							position: relative;
							display: block;
							background-color: transparent;
							padding: 10px 0;
							text-align: center;
							font-family: $dosis;
							font-weight: $rg;
							font-size: 18px;
							line-height: 1;
							color: white;
							&:hover,
							&:focus {
								background-color: transparent;
								color: $turquesa;
							}
						}
						&.current-menu-item > a {
							color: $amareloMarca;
						}
						ul.sub-menu {
							display: none;
							position: absolute;
							top: 100%;
							left: 50%;
							transform: translateX(-50%);
							z-index: 200;
							margin: 0;
							width: 200px;
							border-radius: 8px;
							background-color: rgba( 0, 0, 0, 0.8 );
							padding: 8px;
							text-align: left;
							list-style-type: none;
							color: white;
							> li.menu-item {
								display: block;
								margin: 0;
								padding: 0;
								> a {
									display: block;
									border-radius: 8px;
									padding: 6px 12px;
									font-family: $dosis;
									font-weight: $rg;
									font-size: 18px;
									line-height: 20px;
									color: white;
									&:focus,
									&:hover {
										background-color: #FAA741;
										color: white;
									}
								}
								&.current-menu-item > a {
									font-weight: $bd;
								}
							}
						}
						&.menu-item-has-children:hover {
							> .sub-menu {
								display: block;
							}
						}
					} // li.menu-item
				} // ul.menu
			} // #menu_principal
			
			#menu-item-274, #menu-item-349, // Agenda
			#menu-item-273, #menu-item-348 { // Vagas
				DISPLAY: NONE !important;
			}
			
			// ------------------------------------------------------------------------
			// NEWSLETTER
			
			#cabecalho_newsletter {
				position: relative;
				margin-right: 30px;
				.wpcf7-form {
				}
				.wpcf7-email {
					vertical-align: middle;
					margin: 0;
					width: 230px;
					height: auto;
					box-shadow: none;
					border-radius: 50px;
					border: solid white 2px;
					background-color: transparent;
					padding: 0 30px;
					line-height: 36px;
					font-family: $dosis;
					font-weight: $rg;
					font-size: 18px;
					color: $branco;
					@include placeholder(white);
					&:hover,
					&:focus {
						border-color: $amareloMarca;
					}
				}
				br {
					display: none;
				}
				.ajax-loader {
					position: absolute;
					right: 5px;
					top: 50%;
					z-index: 1;
					pointer-events: none;
					transform: translateY(-50%);
				}
				.wpcf7-submit {
					DISPLAY: NONE;
					position: absolute;
					top: 3px;
					right: 22px;
					margin: 0;
					width: auto;
					height: auto;
					box-shadow: none;
					border-radius: 0;
					border: none;
					background-color: transparent;
					padding: 0;
					line-height: 36px;
					font-size: 0;
					color: $amareloMarca;
					&::after {
						// font-family: 'FontAwesome';
						// content: '\f178';
						font-size: 16px;
						content: '\2192';
					}
				}
			} // #cabecalho_newsletter
			
			// ------------------------------------------------------------------------
			// BUSCA
			
			#cabecalho_busca {
				position: relative;
				padding: 0 25px;
				&::before,
				&::after {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					height: 15px;
					width: 1px;
					background-color: white;
					font-size: 0;
					content: '';
				}
				&::before {
					left: 0;
				}
				&::after {
					right: 0;
				}
				#busca_botao {
					&.ativo {
						transform: rotate(-45deg);
					}
				}
				#busca_form {
					position: absolute;
					top: 100%;
					right: 0;
					z-index: 100;
					margin-top: 5px;
				}
					#busca_input {
						min-width: 250px;
						border-radius: 50px;
						box-shadow: 0 2px 4px rgba(0,0,0,0.4);
					}
					#busca_submit {
						position: absolute;
						top: 3px;
						right: 3px;
						width: 30px;
						line-height: 30px;
						border-radius: 50%;
						padding: 0;
					}
			}
			
			// ------------------------------------------------------------------------
			// REDES SOCIAIS
			
			#cabecalho_redes {
				margin-left: 24px;
				ul.menu_social > li.menu-item {
					&:not(:last-child) {
						padding-right: 25px;
						&::after {
							position: absolute;
							top: 50%;
							right: 0;
							transform: translateY(-50%);
							height: 15px;
							width: 1px;
							background-color: white;
							font-size: 0;
							content: '';
						}
					}
				}
			}
