body {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $bgPagina;
	font-family: $tipoPrimario;
	font-size: 14px;
	font-weight: $rg;
	line-height: $lh_natural;
	color: $primaria;
}

* {
	font-family: $tipoPrimario;
}

h1,
h2,
h3,
h4 {
	// font-weight: $bd;
	line-height: $lh_simples;
	> strong {
		font-weight: $bd;
		// color: $secundaria;
	}
	> a,
	> a:active,
	> a:visited {
		font-family: inherit;
		font-weight: inherit;
		color: inherit;
	}
}

h1 { font-size: 38px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

p {
	word-break: break-word;
}

a,
a:visited {
	text-decoration: none;
	transition: $rapida;
	color: $secundaria;
}

	a:hover,
	a:focus,
	a:active {
		outline: none;
		text-decoration: none;
		color: $terciaria;
	}
	
ul.row {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
	> li.col {}
}

a,
strong,
em,
abbr,
span {
	font-family: inherit;
}


	
// Forms

input,
button,
textarea {
	transition: $rapida;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea, textarea.form-control, select, select.form-control, .select_wrapper, input[type=file] {
    width: 100%;
	height: auto;
	box-shadow: none;
    float: none;
    display: block;
    padding: 6px 12px;
	text-transform: none;
	font-weight: $rg;
    font-size: 12px;
    color: $cinzaMedio2;
	border-radius: 10px;
    border: solid #EBEBEB 3px;
    margin-bottom: 8px;
	background-color: white;
	background-position: calc( 100% - 20px ) center;
	background-repeat: no-repeat;
	transition: $rapida;
	&:disabled {
		background-color: #f5f5f5;
	}
	&.carregando {
		background-image: url('imagens/input-carregando.gif');
		background-color: white !important;
		cursor: wait;
	}
    &:not(:disabled):hover,
    &:not(:disabled):focus {
        border-color: $amareloMarca;
        outline: none;
    }
}

textarea,
textarea.form-control {
	line-height: $lh_natural;
	height: calc( 1.42857em * 7 + 24px + 5px ); // lh * linhas + padding-vertical + borda-vertical
}

button, input[type="button"], input[type="reset"], input[type="submit"], .btn {
	position: relative;
	margin: 0;
	border-radius: 6px;
	border: none;
	background-color: #2F2F2F;
	background-repeat: no-repeat;
	background-image: none;
    box-shadow: none;
	padding: 0 26px;
    text-transform: none;
    text-align: center;
    text-shadow: none;
	font-weight: $bd;
	font-size: 14px;
	line-height: 40px;
 	color: white;
	cursor: pointer;
	transition: $rapida;
	&:visited {
		color: white;
	}
    &:not(:disabled):hover,
	&:not(:disabled):focus,
	&:active {
		box-shadow: none;
        background-color: $turquesa;
		color: white;
        text-shadow: none;
    }
	&:disabled:not(.carregando) {
		opacity: 0.6;
	}
	&:disabled {
		&:hover,
		&:focus {
			box-shadow: none;
		}
	}
	&.carregando {
		// background-image: url('imagens/ajax-loader-roxo.gif');
	}
}

input.invisivel,
button.invisivel,
.btn.invisivel,
input.invisivel:hover,
button.invisivel:hover,
.btn.invisivel:hover,
input.invisivel:focus,
button.invisivel:focus,
.btn.invisivel:focus {
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	background: transparent;
	border: none;
	padding: 0;
}

	.btn.btn-fino,
	button.btn-fino {
		padding: 10px 20px;
		// font-size: 14px;
	}
	
	button.icone-esquerda,
	.btn.icone-esquerda,
	button.icone-direita,
	.btn.icone-direita {
		> .fa,
		> .fa-stack {
			position: absolute;
			top: 50%;
			margin-top: -1px;
			transform: translateY(-50%);
			font-size: 167%;
			line-height: 1;
		}
		> .fa-stack {
			height: auto;
			width: auto;
			> .fa:nth-child(2) {
				position: absolute;
				bottom: 2px;
				left: 2px;
				font-size: 50%;
				z-index: 1;
				color: $roxo;
				transition: $rapida;
			}
		}
		/*
		&:not(:disabled):hover,
		&:not(:disabled):focus {
			> .fa-stack > .fa:nth-child(2) {
				color: $azul;
			}
		}
		*/
	}
	
	button.icone-esquerda,
	.btn.icone-esquerda {
		padding-left: 40px;
		> .fa,
		> .fa-stack {
			left: 10px;
		}
	}
	
	button.icone-direita,
	.btn.icone-direita {
		padding-right: 40px;
		> .fa,
		> .fa-stack {
			right: 10px;
		}
	}

	.btn.btn-block,
	button.btn-block {
		display: block;
		margin: 0;
		width: 100%;
		padding-left: 12px;
		padding-right: 12px;
	}
	
	.btn.btn-azul,
	button.btn-azul {
		background-color: $azulClaro;
		color: white;
		&:not(:disabled):hover,
		&:not(:disabled):focus,
		&:active {
			background-color: $terciaria;
			color: white;
		}
	}
	
	.btn.btn-transparente,
	button.btn-transparente {
		background-color: transparent;
		color: white;
		&:not(:disabled):hover,
		&:not(:disabled):focus,
		&:active {
			background-color: $terciaria;
			color: white;
		}
	}

/*
.btn,
.btn:visited,
.btn-default,
input[type="submit"],
button {
	display: inline-block;
	position: relative;
	float: none;
	margin: 0;
	width: auto;
	box-shadow: none;
	background-color: $verde;
	border: none;
	border-radius: 25px;
	overflow: hidden;
	padding: 13px 25px;
	text-transform: uppercase;
	text-align: center;
	font-family: $tipoPrimario;
	font-size: 16px;
	line-height: 1.5;
	font-weight: $bd;
	font-style: normal;
	color: $branco;
	text-shadow: none;
	cursor: pointer;
	transition: $rapida;
	&:focus,
	&:hover {
		background-color: $laranja;
		box-shadow: none;
		text-decoration: none;
		color: $branco;
	}
	&:disabled {
		background-color: $cinzaClaro;
	}
}

select, textarea, input[type="text"], input[type="email"], input[type="url"], input[type="date"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], textarea.form-control {
	outline: none;
	margin-bottom: 6px;
	max-width: 100%;
	// width: 200px;
	width: 100%;
	height: auto;
	border-radius: 25px;
	border: solid 5px white;
	background-color: white;
	box-shadow: none;
	padding: 8px 15px;
	text-align: left;
	font-size: 16px;
	line-height: 1.5;
	font-weight: $lt;
	font-style: italic;
	color: $cinzaMedio;
	transition: $moderada;
	&:focus,
	&:hover {
		outline: none;
		box-shadow: none;
		background-color: white;
		border-color: $azulClaro;
		color: $preto;
	}
	&.fino {
		padding: 5px 15px;
	}
	&.block {
		display: block;
		margin-bottom: 6px;
		width: 100%;
	}
}

select {
	// padding-top: 0;
	// padding-bottom: 0;
	cursor: pointer;
	line-height: 35px;
}
*/

a,
button {
	> abbr,
	> abbr[title] {
		text-decoration: none;
		border-bottom: none;
		cursor: inherit;
		transition: $rapida;
	}
	&:hover,
	&:focus {
		> abbr,
		> abbr[title] {
			margin-right: 4px;
		}
	}
}

option {
	padding: 0 12px;
	font-family: $tipoPrimario;
	line-height: 35px;
}

.select_wrapper {
	position: relative;
	// margin: 0 0 6px;
	width: 100%;
	padding: 0;
	overflow: hidden;
	&::after {
		display: block;
		position: absolute;
		right: -1px;
		top: -1px;
		bottom: 0;
		z-index: 1;
		width: 45px;
		height: 49px;
		border-radius: 0 3px 0 0;
		background: $amareloEscuro url('imagens/select_seta.png') center center no-repeat;
		font-size: 0;
		content: '';
		pointer-events: none;
		transition: $rapida;
	}
	> select {
		display: block;
		margin: 0 0 0 -1px;
		width: calc( 100% + 20px );
		border: none;
		background: transparent;
		cursor: pointer;
		&:hover,
		&:focus {
			box-shadow: none;
		}
	}
	&:hover {
		border-color: $secundaria;
		&::after {
			background-color: $secundaria;
		}
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	opacity: 1;
	color: $cinzaMedio;
}
::-moz-placeholder { /* Firefox 19+ */
	opacity: 1;
	color: $cinzaMedio;
}
:-ms-input-placeholder { /* IE 10+ */
	opacity: 1;
	color: $cinzaMedio;
}
:-moz-placeholder { /* Firefox 18- */
	opacity: 1;
	color: $cinzaMedio;
}

input[type=radio],
input[type=checkbox] {
	width: auto;
}

label {
	display: block;
	margin-bottom: 4px;
	margin-left: 1px;
	line-height: $lh_simples;
	font-weight: $bd;
	font-size: 14px;
	color: $preto;
	&.radio,
	&.checkbox {
		display: inline-block;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: 12px;
		}
		> input[type=radio],
		> input[type=checkbox] {
			position: static;
			outline: none !important;
			margin: 4px 0 0;
			// vertical-align: 2px;
		}
		> .rotulo {}
	}
	&.sublabel {
		color: $cinzaMedio;
		font-size: 67%;
	}
}

/*
.upload_imagem {
	label.radio {
		display: block;
		float: none;
		> input[type=radio] {}
		> .rotulo {}
	}
	.mascara {
		position: relative;
		margin-top: 8px;
		width: 100%;
		&::after {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
			width: 45px;
			height: 100%;
			line-height: 49px;
			border-radius: 0 3px 0 0;
			background: $amareloEscuro;
			text-align: center;
			font-family: $fa;
			font-size: 20px;
			color: white;
			content: '\f1c5';
			pointer-events: none;
			transition: $rapida;
		}
		> input.mascara_input {
			cursor: pointer;
		}
		&:hover {
			&::after {
				background-color: $secundaria;
			}
		}
	}
	.imagem_input {
		display: none;
	}
	.imagem_visualizacao {
		position: relative;
		overflow: hidden;
		border: solid $cinzaMedio 1px;
		&.com_img {
			> .imagem_visualizacao_img {}
		}
		&.sem_img {
			background-color: $cinzaClaro;
			padding-bottom: 100%;
			&::before,
			&::after {
				position: absolute;
				top: 0;
				background-color: $cinzaMedio;
				width: 150%;
				height: 1px;
				content: '';
			}
			&::before {
				left: 0;
				transform-origin: left top;
				transform: rotate(45deg);
			}
			&::after {
				right: 0;
				transform-origin: right top;
				transform: rotate(-45deg);
			}
		}
	}
}
*/