@media screen and (max-width: ( 1440px + $scrollbar ) ) {

}



@media screen and (max-width: ( 1360px + $scrollbar ) ) {

	// CABEÇALHO

	#menu_principal ul.menu > li.menu-item {
		margin-left: 10px;
		margin-right: 10px;
	}

	#cabecalho_newsletter {
		margin-right: 20px;
	}

	#cabecalho_busca {
		padding-left: 15px;
		padding-right: 15px;
	}

	#cabecalho_redes ul.menu_social > li.menu-item:not(:last-child) {
		padding-right: 15px;
	}
	
	ul.menu_social > li.menu-item:not(:last-child) {
		margin-right: 14px;
	}
	
	#cabecalho_redes {
		margin-left: 14px;
	}
	
	// HOME
	
	#home #intro {
		padding-bottom: 70%;
	}
	
	#solucoes_wrapper .home_scroll {
		bottom: -3vw;
	}
	
	#projetos_wrapper::after {
		max-height: 100%;
		background-size: contain;
		background-position: right top;
	}

}



// ===============================================================================================

@media screen and (max-width: ( 1024px + $scrollbar ) ) {

			
}



// ===============================================================================================

@media screen and (max-width: ( 900px + $scrollbar ) ) {
	

}



// ===============================================================================================

@media screen and (max-width: ( 900px + $scrollbar ) ) and (min-width: 768px) {

	.row {
		margin-left: -7.5px;
		margin-right: -7.5px;
		> [class*="col-"] {
			padding-left: 7.5px;
			padding-right: 7.5px;
		}
	}
	
}



// ===============================================================================================

// Celular

@media screen and (max-width: 767px) {

	.container {
		// overflow: hidden;
	}
	
	#page {
		overflow: hidden;
	}
			
}