
.hentry {
	margin: 0;
	padding: 0;
}

	#content-area .arquivo_cabecalho,
	#content-area .entry-header {
		position: relative;
		margin: 0 0 30px;
		@include fundo();
		// background-position: center top;
		min-height: 450px;
		padding-bottom: calc( 618 / 1920 * 100% );
		&.escurecer::before {
			@include overlay( 0, 0, 0, 0.55 );
		}
		.header-caption {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 2;
			> .container {
				height: 100%;
			}
		}
	}
	
	#content-area .arquivo_cabecalho {
		margin-bottom: 0;
	}

		.arquivo_cabecalho .arquivo_titulo,
		.entry-header .entry-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
			max-width: calc( 100% - 30px );
			width: 555px;
			text-transform: uppercase;
			text-align: center;
			line-height: $lh_simples;
			font-size: 30px;
			font-weight: $bd;
			color: white;
			> .large {
				display: block;
				margin: 10px 0 0;
				font-weight: $bd;
				font-size: 40px;
				line-height: 1;
			}
			> .small {
				display: block;
				font-size: inherit;
				color: inherit;
				font-weight: inherit;
			}
			strong {
				color: $azulClaro;
			}
		}

	#content-area .entry-content {
		position: relative;
		margin: 0 0 60px;
		border-radius: 12px;
		background-color: $bgArtigo;
		padding: 30px;
		font-size: 16px;
		font-weight: $md;
		line-height: $lh_natural;
		color: $preto;
		> :first-child {
			margin-top: 0;
		}
		> :last-child {
			margin-bottom: 0;
		}
		h1,
		h2 {
			clear: none;
			margin: 0 0 30px;
			text-transform: uppercase;
			font-size: 28px;
			font-weight: $xb;
			line-height: $lh_natural;
			color: $preto;
		}
		h3 {
			clear: none;
			margin: 0 0 20px;
			text-transform: uppercase;
			font-weight: $xb;
			font-size: 24px;
			color: $cinzaEscuro;
		}
		h4 {
			clear: none;
			margin: 0 0 20px;
			color: $cinzaMedio;
		}
		p {
			margin-bottom: 20px;
			text-align: left;
		}
		ul, ol {
			margin: 0.67em 0;
			// padding-left: 1em;
			padding-left: 7.5px;
			> li {
				margin-bottom: 0.5em;
				padding-left: 0.5em;
				> ul {
					margin-left: 0.5em;
					// list-style-type: circle;
				}
			}
		}
		ul {
			list-style-type: none;
			> li {
				padding-left: 30px;
				text-indent: -12px;
			}
			> li:before {
				display: inline-block;
				margin-right: 0.67em;
				color: $secundaria;
				content: '\2713'; // checkmark
			}
		}
		ol {
			margin-left: 1em;
		}
		blockquote {
			margin-bottom: 1.5em;
			border-left: none;
			font-weight: $md;
			font-style: italic;
		}
		img.alignleft,
		img.alignright, {
			max-width: 250px;
		}
		img.alignleft {
			clear: left;
			margin: 5px 1.5em 5px 0;
			border: solid $azulMarca2 3px;
		}
		img.alignright {
			clear: right;
			margin: 5px 0 5px 1.5em;
			border: solid $azulMarca2 3px;
		}
		.gmp_map_opts {
			margin-bottom: 20px;
			border: 2px solid $azulMarca;
		}
		.wp-video {
			margin-bottom: 40px;
		}
		a,
		a:hover,
		a:focus {
			// text-decoration: underline;
		}
		table {
			margin: 20px 0;
			border: solid $cinzaMedio 1px;
			border: none;
			border-collapse: collapse;
			&.aligncenter {
				display: table;
				width: auto;
				margin-left: auto;
				margin-right: auto;
			}
			> thead > tr {
				background-color: #f5f5f5;
				// color: $clara;
				border-bottom: solid $cinzaMedio 3px;
			}
			th {
				font-weight: $bk;
			}
			td,
			th {
				border: solid $cinzaMedio 1px;
				padding: 6px 12px;
				vertical-align: middle;
				> p:last-child {
					margin-bottom: 0;
				}
				/*
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
				*/
			}
			&[border] {
				border: none;
				td,
				th {
					border-bottom: solid $cinzaClaro;
					border-width: 0 0 1px;
				}
			}
		}
		.wpcf7-radio label,
		.wpcf7-checkbox label {
			cursor: pointer;
		}
		.wpcf7-checkbox {
			display: block;
			margin-bottom: 15px;
			span.wpcf7-list-item {
				margin-left: 6px;
			}
			.wpcf7-list-item-label {
				margin-left: 6px;
			}
		}
		input[type=submit],
		.btn {
			font-size: 18px;
			padding-left: 25px;
			padding-right: 25px;
		}
		.wpcf7-submit {
			float: right;
		}
		.ajax-loader {
			float: left;
		}
		.wp-caption {
			margin-bottom: 0;
			.wp-caption-text {
				margin: 4px 0;
				font-size: 12px;
			}
		}
		h4.panel-title {
			margin-bottom: 0;
			> a:hover,
			> a:focus {
				color: $branco;
			}
		}
		.panel-body > :last-child {
			margin-bottom: 0;
		}
	} // .entry-content

		.gallery {
			margin: 10px -7.5px;
			// line-height: 140px;
		}

			.gallery-item {
				margin: 0 0 7.5px;
				padding: 7.5px;
				vertical-align: middle;
				.attachment-thumbnail {
					position: relative;
					box-shadow: 0px 2px 6px rgba(0,0,0,0.33);
					transition: $rapida;
					filter: saturate(60%);
					transform: none;
					&:hover {
						z-index: 1;
						box-shadow: 0px 2px 6px rgba(0,0,0,0.67);
						filter: saturate(100%);
						transform: scale(1.2);
					}
				}
				.gallery-icon > a {
					cursor: zoom-in;
				}
			}

			.gallery-columns-3 > .gallery-item {
				width: 33.3333%;
			}
			.gallery-columns-4 > .gallery-item {
				width: 25%;
			}
			.gallery-columns-5 > .gallery-item {
				width: 20%;
			}

		.duas_colunas,
		.multiplas_colunas {
			position: relative;
			// margin-bottom: 40px;
			h1 {
				margin-top: 60px;
			}
			.coluna {
				.fa {
					display: inline-block;
					vertical-align: middle;
					text-align: right;
					margin-right: 6px;
					width: 32px;
					font-size: 32px;
					color: $azulMarca;
				}
			}
			.coluna > :first-child {
				margin-top: 0;
			}
			.coluna > :last-child {
				margin-bottom: 0;
				input[type=text],
				input[type=password],
				input[type=email],
				textarea {
					width: 100%;
				}
			}
		}

		.duas_colunas + .duas_colunas,
		.multiplas_colunas + .multiplas_colunas {
			margin-top: 30px;
		}

	.entry-footer {
		display: none;
	}

	.entry-meta {
		display: none;
	}

	.post-navigation {
		overflow: hidden;
	}
	
	
	
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Serviços

#content-area .entry-content #post_servicos {
	.servicos_item {
		position: relative;
		margin-bottom: 30px;
		border-radius: 8px;
		background-color: #f2f2f2;
		padding: 20px 30px;
		text-align: left;
		&:last-child {
			margin-bottom: 0;
		}
		.item_imagem {
			margin-bottom: 0;
			border: solid 3px $azulClaro;
			@include fundo();
			padding-bottom: calc( 3 / 4 * 100% );
		}
		.item_conteudo {
		}
		.item_titulo {
			margin: 0 0 15px;
			text-transform: uppercase;
			font-weight: $bd;
			font-size: 16px;
			line-height: $lh_simples;
			color: $azulClaro;
		}
		.item_resumo {
			margin-bottom: 20px;
			font-weight: $bd;
			font-size: 14px;
		}
		.item_texto {
			margin-bottom: 0;
			font-weight: $rg;
			font-size: 14px;
		}
	}
}



// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Serviços

#content-area .entry-content #post_parceiros {
	.parceiros_item {
		position: relative;
		margin-bottom: 15px;
		border-radius: 8px;
		border: solid 1px #e5e5e5;
		background-color: white;
		padding-bottom: 70%;
		.parceiro_logo {
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: calc( 100% - 30px );
			max-height: calc( 100% - 20px );
			width: auto;
			height: auto;
			transform: translate( -50%, -50% );
			transition: $rapida;
		}
		&:hover {
			.parceiro_logo {
				transform: translate( -50%, -50% ) scale(1.05);
			}
		}
	}
}
