
/* page quem somos */

@media(max-width: 350px){
	#quem-somos .quem-somos-banner{
		height: 195vh;
	}	
	#quem-somos .cabecalho_titulo > .linha1{
		font-size: 35px;
	}
	#quem-somos .cabecalho_titulo > .linha2{
		font-size: 38px;
	}	
}

#quem-somos .parcerias-estrategicas .img-thumbnail{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media only screen (min-width: 668px) and (max-width: 767px) and (orientation: portrait) {
	#quem-somos .quem-somos-banner{
		height: 150vh;
	}
}
 
@media(min-width: 768px) and (max-width: 1200px){
	#quem-somos .quem-somos-banner{
		height: 115vh;
	}
}

@media only screen and (max-width: 800px) and (orientation: landscape){
	#quem-somos .quem-somos-banner{
		height: 285vh !important;
	}
}

#quem-somos .stats .stats_item{
	margin-left: 10px;
}

@media(max-width: 767px){
	#quem-somos .stats .stats_item{
		text-align: center;
	}
}

@media(max-width: 767px){
	#quem-somos .cabecalho_titulo{
		text-align: center;
	}	
}

@media(max-width: 1100px){
	.numeros-empresa{
		margin-right: 25px;
	}	
}

@media(max-width: 992px){
	#quem-somos .quem-somos-banner{
		height: 150vh;
	}
}

#quem-somos .stats .stats_item .item_rotulo{
	line-height: 25px;
}

@media(min-width: 667px) and (max-width: 799px){
	#quem-somos .quem-somos-banner{
		height: 150vh !important;
	}
}

@media(min-width: 768px) and (max-width: 1100px){
	#quem-somos .quem-somos-banner{
		height: 115vh !important;
	}
}

#quem-somos .thumb-clientes .img-thumbnail{
	border: none;
}

@media(max-width: 652px){
	#quem-somos .thumb-clientes .img-thumbnail{
		width: 44%;	
	}	
}

#clientes .text-align{
	text-align: center;
}


